/* indexstyle.css */
body {
	margin: 0px;
	background-color: #FFFFFF;
}
.navbar { 
	height: 50px;
	background: #262E3A;
	width: 100%;
	margin: 0px;
}
.navbar a {
	float: left;
	display: block;
	padding: 15px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
}
.navbar a:hover {
	background-color: #919EC4;
	color: white;
}

h1 {
	color: #1E1C1B;
	text-align: center;
	font-size:16px;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;
}
a {
	font-family: 'Open Sans', sans-serif;
}
a:hover {
	color: black;
}
p {
	text-align: center;
}
img {
	display: block;
	margin: 0 auto;
}