/* resumestyle.css */
body {
	margin: 0px;
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}
.navbar { 
	height: 50px;
	background: #262E3A;
	width: 100%;
	margin: 0px;
}
.navbar a {
	float: left;
	display: block;
	padding: 15px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
}
.navbar a:hover {
	background-color: #919EC4;
	color: white;
}
.headers {
	margin-left: 200px;
	margin-right: 200px;
	color: #1E1C1B;
	text-align: left;
}
h1 {
	color: #1E1C1B;
	text-align: center;
	font-size:26px;
	font-style: italic;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
p, li {
	margin-left: 200px;
	margin-right: 200px;
	color: #1E1C1B;
	text-align: left;
}

